/*
    This style sheet stylizes the controls inside our
    goLogoLo JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    @author Richard McKenna
    @author ?
    @version 1.0
*/
/*.render_canvas{ 
   -fx-background-color:
        linear-gradient(from 0px 0px to 20px 0px, repeat, black 5%, transparent 5%), 
        linear-gradient(from 0px 0px to 0px 20px, repeat, black 5%, transparent 5%); 
}*/

.a{ 
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.a:hover { 
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.color-picker {
    -fx-padding: 2px;
}
.edit_toolbar{
    -fx-background-color: #363636 ;
    -fx-padding: 70.0 0 0 0;
    -fx-background-radius: 5.0;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    
}
.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #363636;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-font-size:15;     
}

.bordered_pane {
    -fx-background-color: #363636;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}
.bordered_pane2{
    -fx-background-color: #363636;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}
.bordered_pane3{
    -fx-background-color: #363636;
    -fx-background-radius: 5.0;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}


.file_button{
    -fx-background-color: #ff4757;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );   
}

.file_button:hover{
    -fx-background-color: #ff6348;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );   
}

.combobox{
     -fx-pref-width: 150;    
}
.combobox_route{
     -fx-pref-width: 300;    
}